apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Ingress
      name: bleater-api-gateway-canary
    patch: |-
      - op: replace
        path: /metadata/annotations/nginx.ingress.kubernetes.io~1canary-weight
        value: "10"
